@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    font-family: 'Righteous', cursive;
    background-color: antiquewhite;
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.btn{
    font-size: 2.0em;
    margin-right: 25px;
    padding: 15px;
    background-color:rgb(20, 110, 110);
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 800;
}
.hora{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    font-size: 2.5em;
}
.relogio{
    background-color: black;
    color: white;
    width: 500px;
    height: 150px;
    margin-right: 20px;
    text-align: center;
    padding-top: 50px;
    font-size: 2.0em;
}
.pausado{
    color:red;
}
p{
    margin-right: 20px;
}